.opcion{
  padding: 20px;
  background-color:#f0f0f0;
  width: 100%;
  text-align: center;
}
.formInicio{
  background-color: #ffffff;
  width: 60%;
  margin: 10% auto auto auto;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.formContent{
  margin: 10% auto auto auto;
  width: 80%;
}
img.avatar{
    width: 40%;
    border-radius: 50%;
}
.imgcontainer{
    text-align: center;
}

body {
  background-color: #eeeeee;
}

.principal {
  background-color: #ffffff;
  height: 720px;
  margin: auto;
  width: 90%;
}

.tabla {
  width:200px;
  text-overflow:ellipsis;
  white-space:nowrap;
  overflow:hidden;
}
.tabla:hover {
  width: auto;
  white-space: initial;
  overflow:visible;
}
